<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs', {title:"Index"}) %>
</head>
<body>


    
    <%- include('partials/navbar.ejs',{pageName:"home"}) %>
    
    <%- include('partials/dataAlerts.ejs') %>


    <div class="m-3">
        <form  action="/" method="get">
            <div class="row">
                <div class="col-2">
                    <input class="form-control mr-sm-2" name="search_value" id="search_id" type="search" placeholder="Search" value="<%=search_id_value%>"onkeyup="showHint(this.value)">    
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>
            <div class="row">
                <ul style="list-style-type:none;" id="options_id">
           
                </ul>
            </div>
          </form>
    </div>
    
        

    <div class="container p-3 my-3 border">
        <% for(let i=0;i<rorj.length;i++){%>
        <div class="card text-center">
            <div class="card-header font-weight-bold">
                <%=rorj[i].deptType%>-<%=rorj[i].roleType%>
            </div>
            <div class="card-body">
                <h3 class="card-title"><%=rorj[i].companyName%></h3>
                <p class="card-text">
                    qualification required:<b><%=rorj[i].qualificationRequired%></b><br>
                    <%if(!(rorj[i].skillsRequired)){%>
                        <b>No Skills required</b><br>
                            <%} else if(!(Array.isArray(rorj[i].skillsRequired))){%>
                                <b><%=rorj[i].skillsRequired %></b> is the only skill required.<br>
                                <%}else{
                                    for(let j=0;j<rorj[i].skillsRequired.length;j++){%>
                                            <b><%=rorj[i].skillsRequired[j]%></b>,
                                        <%}%>
                                        and the like are  skills required.<br>        
                                    <%}%>
                    <%=rorj[i].jobDescription%>
                </p>
                <a href="#" class="btn btn-primary">Apply</a>
            </div>
            <div class="card-footer text-muted font-weight-normal">
               Last Date and Time to Apply: <%=rorj[i].lastDateTimeToApply%>(IST)
            </div>
        </div>
        <%}%>
    </div>

    <div class="d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                <%if(previous){%>
                    <li class="page-item">
                        <a class="page-link" href="<%=prevURL%>">Previous</a>
                      </li>
                    <%}else{%>
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                          </li>
                        <%}%>
              
              
              <li class="page-item active">
                <span class="page-link">
                  <%=pageNo%>
                </span>
              </li>

              <%if(next){%>
                <li class="page-item">
                    <a class="page-link" href="<%=nextURL%>">Next</a>
                    
                  </li>
                <%}else{%>
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                      </li>
                    <%}%>
              
            </ul>
          </nav>
    </div>
    <%- include('partials/footscript.ejs') %>



    <script>

function addtosearchfun(val){
            let currentValue=$("#search_id").val()
            let lastIndex=currentValue.lastIndexOf(",")
            if(lastIndex===-1){
                $("#search_id").val(val+",");
            }
            else{
                let chVal=currentValue.slice(0,lastIndex+1)
                $("#search_id").val(chVal+val+",");
            }
            showHint("");
    
    }

        function showHint(str) {
            let lastIndexofStr=str.lastIndexOf(",")
                    let searchVal=str.slice(lastIndexofStr+1,)

            if (str.length == 0 || searchVal.length==0) {
                $("#options_id").html("");
                return;
            } 
            else if(str[-1]==','){
                $("#options_id").html("");
                return;
            }
            else {
                $.ajax({
                        url: "/gethints", 
                        type: "POST",
                        contentType: "application/json",             
                        data: JSON.stringify([searchVal]),
                        cache: false,             
                        processData: false,      
                        success: function(msg) {
                            
                                var availableSkills=""
                                for(let i=0;i<msg.length;i++){
                                    availableSkills+=`<li><input class="sm-2" value=${msg[i].skillName} onclick=addtosearchfun(this.value) readonly></li>`
                                }
                                $("#options_id").html(availableSkills);
                            
                            }
                    });
            }
        }
        </script>



</body>
</html>